body {
  background: #f0f0f0;
}
.loading {
  text-align: center;
  padding: 10px;
}
.post {
  background: #fff;
  box-shadow: 0px 3px 5px #d0d0d0;
  box-sizing: border-box;
  margin: 0 7px 15px;
  padding: 15px;
  border-radius: 3px;
  vertical-align: top;
  max-width: 100%;
}
.post img {
  display: block;
  margin: 5px auto;
  max-width: 100%;
}
.post small {
  font-size: 80%;
}
.post .label {
  float: right;
}
.post p,
.post li {
  font-size: 80%;
  line-height: 120%;
  color: 222;
}
.post .subreddit,
.thread .subreddit {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.post .score,
.thread .score {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.thread {
  margin: 7px 7px 15px;
}
.thread .label {
  float: right;
}
.comment {
  margin-left: 5px;
  padding: 5px 0 5px 5px;
  border-left: 3px #ddd solid;
}
.comment p {
  margin-bottom: 0;
}
