<nav class="top-bar" data-topbar="">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
            <h1>
                <a href="#">
                    Reddit 2 {{ subreddit && (': /r/' + subreddit) }}
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
        </li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown not-click">
                <a href="#">Menu</a>
                <ul class="dropdown">
                    <li class="divider"></li>
                    <li><label>View options</label></li>
                    <li><a href="#">Comments</a></li>
                    <li><a href="#">Full images</a></li>
                    <li><a href="#">Autoload</a></li>

                    <li class="divider"></li>
                    <li><label>Reddit</label></li>
                    <li><a href="#">Log in</a></li>
                </ul>
            </li>
            <li class="divider"></li>
        </ul>
    </section>
</nav>